#hangman{
    text-align: center;
    border-style: dotted;
}

h2{
    text-align: left;
    margin-bottom: 5%;
}

h3{
    text-align: left;
}

#guessesLeft,#guessesSoFar{
    text-align: left;
}

body{
    background:gold;
}

img{
    height:100px;
    width:100px;

}


